<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <span class="navbar-brand mx-auto" style="font-size: 1.5rem; font-weight: bold;">Bible Verse Tracker &#10013;</span>
  </div>
</nav>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <!-- Bible Verses List -->
      <ul class="list-group">
        <li *ngFor="let verse of filteredVerses"
          class="list-group-item d-flex justify-content-between align-items-center bible-verse-item"
          [ngClass]="{'bible-verse-selected': verse.showText}" (click)="verse.showText = !verse.showText">
          
          <!-- Bible Verse Info as Collapsible -->
          <div> 
            <span>
              {{ verse.book }} {{ verse.chapter }}:{{ verse.verseNumber }}
            </span>
          </div>
          
          <!-- Collapsible Verse Text -->
          <div *ngIf="verse.showText" class="mt-2">
            <div class="alert alert-info">
              {{ verse.verseText }}
            </div>
          </div>
       
        </li>
      </ul>

      <!-- -------------------------------------------------- -->
      <!-- TO DO FOR NEXT MILESTONE -->

      <!-- Favorite Button -->
      <!-- <button class="btn btn-sm btn-warning me-2" (click)="addToFavorites(verse)">
        &#9733; Favorite
      </button> -->
      <!-- -------------------------------------------------- -->

      <!-- Buttons at the bottom -->
      <div class="d-flex justify-content-between mt-4">
        <!-- <button class="btn btn-secondary" (click)="viewFavorites()">View Favorites</button> -->
        <button class="btn btn-success" (click)="goToCreateBibleVerse()">Add a Bible Verse</button>
        <button class="btn btn-warning" (click)="goToEditBibleVerse()">Edit Verse</button>
        <button class="btn btn-danger" (click)="goToDeleteBibleVerse()">Delete Verse</button>
      </div>
    </div>
  </div>
</div>
<br>

<router-outlet></router-outlet>